h1{
    text-align: center;
}
#search{
    margin:5 auto;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 15px;
    margin-left: 40%;
    border: none;
    border-radius: 15px;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
}
}