
*{
  margin:0;
  padding:0;
  
} 
nav{
  width:100%;
  height:60px;
  background-color:black;
}

nav img{
  height: 50px;
  width: 50px;
  float: left;
}

nav h5{
  /*margin-left: 0px; */
  font-family:arial;
  color:whitesmoke;
  line-height:60px;
  float:left;
} 
nav ul{
  overflow:visible;
  list-style-type:none;
  float:right;
}
nav ul li{
  float:right;
  list-style: none;
  position: relative;
}
nav ul li a{
  display:block;
  font-family:arial;  
  color:white;
  font-size:14px  ;
  padding:18px 14px;
  text-decoration:none;
  cursor: pointer;
}
nav ul li a:hover{
  text-decoration: none;
  
}
nav ul li ul {
  display:none;
  position: absolute; 
  background-color:black;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul {
  display:block;
  text-decoration:none; 
} 
nav ul li ul li{
   width:auto;
   border-radius:4px;
}
nav ul li ul li a {
  padding:8px 8px;
}

nav ul li ul li a:hover {
  background-color:red+ ;
  text-decoration: none;
}

h1{
  text-align: justify;
  line-height: 80px;

}
#search{
  border-radius: 10px;
  margin:5 auto;
  border-radius: 10px;
  margin-left: 580px;
  border: none;
  border-radius: 15px; 
  background-color:whitesmoke;
}
